{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto hero-text">
                <h1 class="display-4 main-page-logo text-white">
                    EcoBikeTech
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}"
                            class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid text-black bg-light" id="about-section">
        <div class="container">
          <div class="row text-center">
            <div class="col about-header">
              <h2 class="about-title">Servicing to suit all budgets</h2>
              <hr class="mt-4">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 col-lg-6 about-image text-center">
              <img class="home-img img-fluid" src="media/media/tool.jpg" alt="Multi tool">
            </div>
            <div class="col-md-12 col-lg-6 about-content align-self-center mt-3">
              <div class="about-text  my-auto">
                <p class="lead fade-in">
                    At EcoBikeTech, we're dedicated to providing comprehensive bike maintenance services, designed to suit all budgets. From full-service packages to tailored repairs and adjustments, we strive to make cycling maintenance accessible and environmentally conscious. Discover our extensive range of services and feel free to reach out if you need something specific - we're always happy to help!
                </p>
                <p class="lead fade-in">
                  Learn more about our full list of services below. 
                  Can’t find what you’re looking for? Get in touch and we’ll be happy to discuss your requirements and any available options.
                </p>
              </div>
            </div>
          </div>
          <div class="row text-center">
            <div class="col about-header mt-4">
              <h2 class="about-title">Need a new chain? New brake pads? Or perhaps some lights to fit?</h2>
              <hr class="mt-4">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="lead fade-in mt-3">
                We offer a full range of repair and upgrade options, so you can pick and choose what you need us to do.
              </p>
            </div>
          </div>
        </div>
      </div>
      
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-2">
                    <img class="img-fluid mb-2" src="{% static 'images/bespoke-1.png' %}" alt="">
                </div>
                <div class="col-lg-4 col-md-12 mb-2">
                    <img class="img-fluid mb-2" src="{% static 'images/bespoke-3.png' %}" alt="">
                </div>
                <div class="col-lg-4 col-md-12">
                    <img class="img-fluid mb-2" src="{% static 'images/bespoke-2.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}