{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
  
  <article class="container">
    
    <div class="col-md-12 px-0 ">
      
      <h2 class="p-4 p-md-5 mb-4 text-white rounded bg-dark text-center">Add Post</h2>

      <form method="POST" class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
      <button class="btn btn-secondary">Save Post</button>
      </form>

<script>
  var name ="{{ user.id }}";
  document.getElementById("post-author").value = name;
</script>
      
{% endblock %}