{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
  {% for post in posts %}
  <article class="media content-section>
    
    <div>
      <div class="media-body">
      <p> Author</p>
      <h3 class="mr-2 "> {{ post.author }}</h3>
      </div>
      <h4><a class="article-title " href="{% url 'post-detail' post.id %}">{{ post.title }}</h4></a>
      <!-- <p class="article-content">{{ post.body }}</p> -->
      <small class="text_muted">{{ post.post_date|date:"F d, Y" }}</small>
    </div>
  </article>
  {% endfor %}
  
{% endblock %}