{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
  
  <article class="container">
    
    <div class="col-md-12 px-0 ">
      
      <h2 class="p-4 p-md-5 mb-4 text-white rounded bg-dark text-center">Delete Post</h2>
      <br/>
      <h3>Delete: {{ post.title }}</h3>

      <form method="POST" class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
       
      <button class="btn btn-secondary">Delete Post</button>
      </form>
    </div> 
  </article>

{% endblock %}