{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
  
  <article class="container">
    
    <div class="col-md-12 px-0 ">
      <div class="article-metadata">
      <span><p> Author</p><h3 class="mr-2 text-success"> {{ object.author }}</h3></span>
        
      </div>
      <h2 class="p-4 p-md-5 mb-4 text-white rounded bg-dark text-center">{{ object.title }}</h2>
      <p class="article-content">{{ object.body }}</p>
      <p class="mr-2 text-right">{{ object.post_date|date:"F d, Y" }}</p>
    </div>
  </article>

  <div class="container">
  <h2>Comments...</h2>

  {% if not object.comments.all %}
    <p> No comments yet </p>
  {% else %}
    {% for comment in object.comments.all %}
      <strong>
        {{ comment.name }} - 
        {{ comment.date_added }}
      </strong>
      <br/>
      {{ comment.body }}
      <br/>
      <br/>
    {% endfor %}
{%endif %}

<a href=""> Add Comment</a>
</div>
<br/>
{% if is_paginated %}

{% if page_obj.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}

{% endblock %}